extends layout.pug

block styles
    link(rel="stylesheet", href="/css/404.css")

block content
    div.container
      h1 404 - Page Not Found
      p The page you're looking for doesn't exist.
      a(href="/") Go Home
