extends layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")
    title #{pageTitle}

block content
    main
        form(action="/admin/product", method="POST")
            input(type="text", name="title", placeholder="Product title")
            button(type="submit") Add Product
