@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap');

body {
    font-family: 'Maven Pro', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
}


.main-header {
    height: 3.5rem;
    background-color: #3dc9b2;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0;
    padding: 0 1rem;
}

.main-header__item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f9f9f9;
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

form {
    display: inline-block;
    margin-top: 50px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3dc9b2;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #31b8a4;
}